@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --section-rotate: 8vw;
}

@layer components {
  .clip-polygon {
    clip-path: polygon(
      0 0,
      100% 0%,
      100% calc(100% - var(--section-rotate)),
      0% 100%
    );
  }

  .clip-slate {
    clip-path: polygon(
      0 calc(var(--section-rotate)),
      100% 0%,
      100% calc(100% - var(--section-rotate)),
      0% 100%
    );
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .reveal-notification {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
  }

  .reveal-sidebar-indicator {
    left: -7px;
  }

  .reveal-sortMenu {
    opacity: 1;
    transform: scale(1);
  }

  .expand-bookingItem {
    .banner-wrapper {
      padding-left: 0.75rem;
      padding-top: 0.75rem;
      transition-duration: 300ms;
      transition-property: all;
      transition-timing-function: ease-in-out;

      img {
        border-radius: 0.375rem;
      }
    }
    .booking-detail {
      height: 28.5rem;
      transition-property: all;
      transition-timing-function: ease-in-out;
      transition-duration: 400ms;
    }

    .tour-name {
      top: 0.5rem;
    }

    .tour-price {
      font-size: 1.6rem;
      margin-top: 1rem;
      margin-right: 0.2rem;
    }

    .expand-button {
      bottom: 1rem;
      right: 0.75rem;
      background-color: #e4e4e6;
      svg {
        fill: #3f3f46;
        transform: rotate(180deg);
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .reveal-sidebar {
      left: 0;
    }
  }

  @media only screen and (max-width: 1024px) {
    .reveal-dropdown {
      padding-top: 2rem;
      max-height: 360px;
    }
  }
}

/* :root { */
/*   --foreground-rgb: 0, 0, 0; */
/*   --background-start-rgb: 214, 219, 220; */
/*   --background-end-rgb: 255, 255, 255; */
/* } */
/**/
/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --foreground-rgb: 255, 255, 255; */
/*     --background-start-rgb: 0, 0, 0; */
/*     --background-end-rgb: 0, 0, 0; */
/*   } */
/* } */
/**/
/* body { */
/*   color: rgb(var(--foreground-rgb)); */
/*   background: linear-gradient( */
/*       to bottom, */
/*       transparent, */
/*       rgb(var(--background-end-rgb)) */
/*     ) */
/*     rgb(var(--background-start-rgb)); */
/* } */
